%h3= t(".greeting", name: @user.name).concat(":")

%p.my-8.lh-base.text-lg
  = t(".patient_info_html", name: @patient.name, phone: @patient.phone, date: l(@enqueue.next_notification_date.to_date, format: :long))

.ax-center
  = link_to t(".check_your_appointments"), appointments_url, class: "btn btn-lg btn-pink-200"
