body.public {
  .content {
    max-width: 52em;
  }

  input,
  select {
    max-width: 38em;
  }

  main {
    font-size: 1.2rem;
    max-width: 28em;

    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
    }
  }
}
